@media only screen and (min-width: 700px) and (max-width: 1024px) {
	
	* {margin:0; padding:0;}

	body { 
		background:#f2f2f2;
		height:100%;
		width:100%;
	}
/* on header*/
	header{ 
		width:100%;
		overflow:hidden;
		background:#059EA9;
		margin-bottom:20px;
		font-family: 'Roboto', sans-serif;
	}


	header .logo{
		text-align:left;
		color:#034D82;
		font-size:100px;
		line-height:200px;
		margin-left:5%;
	}

	header nav { 
		border-style:solid;
		border-color:#034D82;
		border-width:10px;
		text-align:center;
		line-height:70px;
	}

	header nav a{ 
		display:inline-block;
		color:#fff;
		text-decoration:none;
		padding:11px 11px;
		line-height:normal;
		font-size:20px;
		font-weight:bold;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	}

	header nav a:hover{
		background:#034D82;
		border-radius:30px;
	}
/*off header*/

/*index1 comienzo*/
	h1{
		text-align:center;
		font-family: 'Roboto', sans-serif;
	}

	.notisec{
		margin-right:26%;
		margin-left:26%;
		font-family: 'Roboto', sans-serif;
	}

	.noti{
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0;
	}

	.fija{
		margin-left:75%;
		background:#60E6F0;
		margin-bottom:-75%;
		position:absolute;
		bottom:0px;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		font-family: 'Roboto', sans-serif;
	}

	.fijan{
		margin-right:75%;
		background:#60E6F0;
		margin-bottom:-75%;
		position:absolute;
		bottom:0px;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		font-family: 'Roboto', sans-serif;
	}


/*index1 fin*/

/*noticia comienzo*/
	.notisec1{
		float:left;
		margin-right:43%;
		margin-left:2%;
		font-family: 'Roboto', sans-serif;
	}

	.noti1{
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0;
	}
	.noti1 img{
		margin-right:43%;
		margin-left:2%;
		width:90%;
	}

	.noti1 iframe{
		margin-top:2%;
		margin-bottom:2%;
		margin-left:2%;
		width:90%;
	}

	.fija1{
		position:absolute;
		float:right;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		margin-right:1%;
		margin-left:60%;
		font-family: 'Roboto', sans-serif;
		background:#059EA9;
	}

	.fija1 h3{
		text-align:center;
		margin:5px 5px 5px 5px;
	}

	.fija2{
		margin:2px 5px 2px 5px;
		border-style:solid;
		border-width:3px;
		border-color:#034D82;
		background:#60E6F0;
	}

	.comen{
		position:absolute;
		float:left;
		bottom:-1240px;
		width:54%;
		margin-left:2%;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}

	.comen h2{
		text-align:center;
		margin:5px 5px 5px 5px;
	}

	.comen textarea{
		margin-right:1%;
		margin-left:1%;
		margin-bottom:1%;
	}
/*noticia fin*/

/*index2 comienzo*/
	.hist{
		margin-left:1%;
		margin-right:1%;
		margin-bottom:1%;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}


	.hist .histex p{
		margin-left:1%;
		margin-top:1%;
		width:65%;
	}

	.hist img{
		margin-left:70%;
		margin-top:-25%;
		width:25%;
	}

	.obj{
		margin-left:1%;
		margin-right:1%;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}

	.obj .objtex p{
		float:right;
		margin-left:1%;
		margin-top:1%;
		width:65%;
	}

	.obj img{
		margin-left:1%;
		margin-top:2%;
		margin-bottom:1%;
		width:15%;
	}

	.act{
		margin-top:1%;
		margin-left:1%;
		margin-right:1%;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}

	.act1 td{
		padding-left:10px;
		padding-right:10px;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
	}



	.act img{
		width:96%;
		margin-top:2%; 
		margin-left:2%;
		margin-right:3%;
		margin-bottom:2%;
	}
/*index2 fin*/

/*index3 comienzo*/

	.divs{
		padding:5px;
		margin-left:1%;
		margin-right:51%;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}

	.texin{
		padding:5px;
		margin-left:51%;
		margin-right:1%;
		margin-top:-447px;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}

	.ul1{
		margin-left:55px; 
	}

	.ul2{
		margin-left:255px;
		margin-top:-77px;
	}

/*index3 fin*/

/*index4 inicio*/
.com{
	padding:10px;
	border-style:solid;
	border-color:#034D82;
	border-width:5px;
	background:#60E6F0;
	font-family: 'Roboto', sans-serif;
	font-size:20px;  
}

.ccom{
	margin:10px;
	border-style:solid;
	border-color:#034D82;
	border-width:5px;
}

.titcom{
	font-size:40px;
}
/*index4 fin*/

/*index5 inicio*/
.buscar{
	padding-left:10px;
	padding-top:20px;
	border-style:solid;
	border-color:#034D82;
	border-width:5px;
	background:#60E6F0;
	font-family: 'Roboto', sans-serif;
}

.buscar ul#menu {
margin-left:60%;
padding: 15px;
}
  
.buscar ul#menu li {
 color: #000;

 list-style: none;
 margin: 0% 5%;
}
  
.buscar ul#menu li:hover{
 color: #020202;
 cursor:pointer;
}

.buscar ul#menu ul {
 display: none;
 position: absolute;
 background: #034D82;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
 }
  
.buscar ul#menu ul li{
 float: left;
 color: #fff;
 width:100%;
 margin:2% 0%;
}

.buscar ul#menu ul li a{
 color: #fff;
}
  
.buscar ul#menu ul li a:hover{
 color: #aaa073;
 cursor:pointer;
}
  
.buscar ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
  
.buscar ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}

.buscador{
	display:inline-block;
	margin-left:70%;
	margin-top:-3%;
}

.notise{
		margin-right:15%;
		margin-left:15%;
		font-family: 'Roboto', sans-serif;
	}

	.not{
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0;
	}
/*index5 fin*/

/*index6 inicio*/
	.asoc{
		margin-left:5%;
		margin-right:5%;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0; 
	}

	.tabasoc{
		margin-left:5%;
		margin-right:5%;
		
	}

	.tabasoc img{
		width:85%;
		margin:15px;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0; 
	}
/*index6 fin*/

/*index7 inicio*/
	.coop{
		margin-left:5%;
		margin-right:5%;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0; 
	}

	.tabcoop{
		margin-left:5%;
		margin-right:5%;
		
	}

	.tabcoop img{
		width:85%;
		margin:15px;
		border-style:solid;
		border-width:5px;
		border-color:#034D82;
		background:#60E6F0; 
	}
/*index7 fin*/

/*index8 comienzo*/
	.where{
		margin-left:1%;
		margin-right:54%;
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif;
	}

	.secmap{
		margin-top:3%;
		margin-left:1%;
		margin-right:77%;
		margin-bottom:3%;
		font-size:15px;
		font-family: 'Roboto', sans-serif;
	}

	.textmap{

		margin-bottom:5%;
		margin-top:5%;
	}

	.textmap iframe{
		position:relative;
		left:220px;
		top:-65px;
	}

	.textarea{
		border-style:solid;
		border-color:#034D82;
		border-width:5px;
		margin-right:1%;
		margin-left:49%;
		margin-top:-55%;
		background:#60E6F0;
		font-family: 'Roboto', sans-serif; 
	}

	.textarea textarea{
		font-size:20px;
		margin-left:1%;
	}

	.textarea input{
		padding:10px;
		font-size:15px;
		margin-left:1%;
		margin-bottom:1%;
	}

}
/*index8 fin*/





{}
/*.cosas{
	margin-left:66%;
	margin-right:1%;
	margin-top:-62%; 
	border-style:solid;
	border-color:#034D82;
	border-width:5px;
	background:#60E6F0;
	font-family: 'Roboto', sans-serif;
}*/